DISPLAY_ID=1
PI_USERNAME=event
PODIUM_USER=event
PI_HOSTNAME=podium-1
SERVER_HOST=podium-1.local
SERVER_PORT=5001
SERVER_URL=http://podium-1.local:5001/display/1
REPO_URL=https://github.com/maxedmini/podium-system.git
BRANCH=main
REPO_DIR=/home/event/podium-system
