[Unit]
Description=Podium Display Kiosk
After=graphical.target network-online.target
Wants=graphical.target network-online.target

[Service]
Type=simple
User=podium3
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/podium3/.Xauthority

ExecStart=/usr/local/bin/kiosk-launch.sh

Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
